.about {
    background-color: #F1F1E9;
}

.about-details {
    background-color: #EBFBEE;
}

.section-about {
    padding: 2rem 1rem;
}

.section-about-details {
    padding: 2rem 1rem;
}


.section-about>article {
    margin-bottom: 2rem;
}



.text-center-about {
    text-align: center;
}

.text-about-details {
    font-size: 2rem;
}

.img-about {
    border-radius: 20px;
   height: 450px;
   width: auto;
}

.img-content-about {
    display: flex;
    justify-content: center;

}

.img-card-about {
    position: relative;
    margin: 0 auto;
}




.card-info-about {
    position: absolute;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    right: 0;
    bottom: 0;
    max-width: 250px;
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--white-color);
   
}


.card-text-about>h3 {
    font-size: 1.5rem;
}
.card-text-about .button-app{
    display: block;
    padding: 0.5rem;
    background-color: black;
    color: white;
    margin-top: 0.5rem;
    border-radius: 20px;
    text-align: center;
    

}
.card-text-about>p {
    color: #000;
}

.subcontent-about {
    display: flex;
    flex-direction: column;
}
.subcontent-about>li{
    padding-bottom: 1rem;
}
.subcontent-text {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--white-color);
}

.p-white {
    color: var(--white-color);
}



@media screen and (min-width: 1024px) {
    .full-lg-screem {
        width: 100%;
        min-height: 100vh;
    }

    .section-about {
        display: grid;
        grid-template-columns: repeat(2, 46%);
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .cols-span-2 {
        text-align: center;
        grid-column: span 2;
        font-size: 3rem;
    }

    .text-center-about>h2 {
        font-size: 3rem;

    }

    .text-lg-left-about>p {
        margin-bottom: 2.5rem;
    }

    .section-about-details {
        display: grid;
        grid-template-columns: repeat(12, 6%);
        justify-content: space-between;
        align-content: center;
        align-items: center;

    }

    .text-lg-left-about {
        text-align: left;
    }

    .cols-span-6 {
        grid-column: span 6;
    }

    .cols-span-7 {
        grid-column: span 7;
    }

    .cols-span-4 {
        grid-column: span 4;
    }

    .cols-span-8 {
        grid-column: span 8;
    }

    .cols-span-12 {
        grid-column: span 12;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    .cols-span-4 {
        grid-column: span 4;
        padding-top: 2rem;
        color: #288745;
    }


    .subcontent-text {
        justify-content: space-between;
    }

    .h3-about {
        font-size: 1.5rem;
    }

}